
<h1>MENU</h1>
<div>
<%= link_to 'PERFILES DE EQUIPO', equipment_profiles_path %>

</div>
<div>
<%= link_to 'PCS', pcs_path %>
<%#= equipment_profiles_new_path %><br>
<%#= new_equipment_profile_path %><br>
<%#= computers_path %><br>
<%#= new_computer_path %><br>
<%#= root_path %><br>
<%#= sessions_path %><br>
<%#= new_session_path %><br>
<%#= session_path %><br>
<%#= login_path %><br>
<%#= logout_path %><br>
</div>
<p id="notice"><%= notice %></p>
