
<h1>MENU</h1>
<nav class="be-red white">
	<ul class="no-list row center-xs">
		<li class="col-md">
			<%= link_to 'COMPUTADORAS', computers_index_path %>
		</li>
		<li class="col-md">
			DEPENDENCIAS
		</li>
		<li class="col-md">
    	REDES
		</li>
	</ul>
</nav>
<p id="notice"><%= notice %></p>
